body {
    background-color: lightyellow;
    font-family: 'Times New Roman', serif;
}

form {
    color: darkred;
}

input[type="submit"] {
    background-color: darkred;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
}